In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mtp

In [78]:
ds=pd.read_csv("C:\\Users\\Dhwij\\Downloads\\hierachiacal penguine clustering.csv")
ds.head(20)

    culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0               39.1             18.7              181.0       3750.0    MALE
1               39.5             17.4              186.0       3800.0  FEMALE
2               40.3             18.0              195.0       3250.0  FEMALE
3                NaN              NaN                NaN          NaN     NaN
4               36.7             19.3              193.0       3450.0  FEMALE
5               39.3             20.6              190.0       3650.0    MALE
6               38.9             17.8              181.0       3625.0  FEMALE
7               39.2             19.6              195.0       4675.0    MALE
8               34.1             18.1              193.0       3475.0     NaN
9               42.0             20.2             5000.0       4250.0    MALE
10              37.8             17.1              186.0       3300.0     NaN
11              37.8             17.3              180.0       3700.0     NaN
12              41.1             17.6              182.0       3200.0  FEMALE
13              38.6             21.2              191.0       3800.0    MALE
14              34.6             21.1             -132.0       4400.0    MALE
15              36.6             17.8              185.0       3700.0  FEMALE
16              38.7             19.0              195.0       3450.0  FEMALE
17              42.5             20.7              197.0       4500.0    MALE
18              34.4             18.4              184.0       3325.0  FEMALE
19              46.0             21.5              194.0       4200.0    MALE

In [79]:
print(ds.isnull().sum())

culmen_length_mm     2
culmen_depth_mm      2
flipper_length_mm    2
body_mass_g          2
sex                  9
dtype: int64

In [80]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.NaN,strategy = 'mean')

ds[['culmen_length_mm']] = imp.fit_transform(ds[['culmen_length_mm']])
ds[['culmen_depth_mm']] = imp.fit_transform(ds[['culmen_depth_mm']])
ds[['flipper_length_mm']] = imp.fit_transform(ds[['flipper_length_mm']])
ds[['body_mass_g']] = imp.fit_transform(ds[['body_mass_g']])

culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  9
dtype: int64

In [86]:
from sklearn.preprocessing import LabelEncoder

ds[['sex']] = ds[['sex']].apply(LabelEncoder().fit_transform)
imp_mode = SimpleImputer(missing_values = np.NaN,strategy = 'most_frequent')
ds[['sex']] = imp_mode.fit_transform(ds[['sex']])
print(ds.isnull().sum())

culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [82]:
x = ds.iloc[:,1:-1].values
y = ds.iloc[:,-1].values
y = y.reshape(len(y))

print(y)

[2 1 1 3 1 2 1 2 3 2 3 3 1 2 2 1 1 2 1 2 1 2 1 2 2 1 2 1 1 2 1 2 1 2 1 2 2
 1 1 2 1 2 1 2 1 2 2 3 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2
 1 2 1 2 1 2 1 2 1 2 1 2 2 1 2 1 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1
 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 2 1
 1 2 1 2 1 2 2 1 2 1 1 2 1 2 1 2 1 2 1 2 2 1 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1
 2 2 1 1 2 1 2 2 1 2 1 1 2 1 2 2 1 1 2 1 2 1 2 1 2 2 1 2 1 1 2 1 2 2 1 1 2
 1 2 2 1 1 2 1 2 1 2 1 2 1 2 1 2 1 2 2 1 1 2 1 2 3 2 1 2 2 1 1 2 1 2 1 2 1
 2 1 2 1 2 2 1 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 3 2 1 2 1 2 2 1 1 2
 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 1 2 2 1 1 2 1 2 1 2 3 2 1 2 1 2 1 2 1
 2 1 2 0 2 1 3 1 2 1 2]

In [89]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=2,n_init='auto')
y_pre = km.fit_predict(x)
print(y_pre)

[0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1]

C:\Users\Dhwij\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

In [90]:
mtp.scatter(x[y_pre==0,0],x[y_pre==0,3],s=100,c='red')
mtp.scatter(x[y_pre==1,0],x[y_pre==1,3],s=100,c='blue')
mtp.show()

IndexError: index 3 is out of bounds for axis 1 with size 3