In [57]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [58]:
df=pd.read_csv(r"C:\Users\Sejal\Desktop\ML\car_price_prediction.csv")

df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,4-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,4-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,4-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,4-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,4-May,Left wheel,Silver,4

In [59]:
df['Mileage']=df['Mileage'].str.replace("km","")
df['Doors']=df['Doors'].str.replace("May","")
df['Engine volume']=df['Engine volume'].str.replace("Turbo","")
df['Levy']=df['Levy'].replace("-",np.NaN)

In [60]:
df[['Manufacturer','Category','Model','Fuel type','Gear box type','Color','Wheel','Drive wheels','Leather interior','Doors']]=df[['Manufacturer','Category','Model','Fuel type','Gear box type','Color','Wheel','Drive wheels','Leather interior','Doors']].apply(LabelEncoder().fit_transform)
df.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,32,1242,2010,4,1,2,3.5,186005,6,0,0,1,0,12,12
1,44731507,16621,1018,8,658,2011,4,0,5,3,192000,6,2,0,1,0,1,8
2,45774419,8467,NaN,21,684,2006,3,0,5,1.3,200000,4,3,1,1,1,1,2
3,45769185,3607,862,16,661,2011,4,1,2,2.5,168966,4,0,0,1,0,14,0
4,45809263,11726,446,21,684,2014,3,1,5,1.3,91901,4,0,1,1,0,12,4
5,45802912,39493,891,23,1305,2016,4,1,1,2,160931,4,0,1,1,0,14,4
6,45656768,1803,761,58,1154,2010,3,1,2,1.8,258909,4,0,1,1,0,14,12
7,45816158,549,751,23,1334,2013,9,1,5,2.4,216118,4,0,1,1,0,7,12
8,45641395,1098,394,58,435,2014,9,1,2,2.5,398069,4,0,1,1,0,1,12
9,45756839,26657,NaN,32,1235,2007,4,1,5,3.5,128500,6,0,0,1,0,12,12

In [61]:
from sklearn.impute import SimpleImputer
im_mean=SimpleImputer(missing_values=np.NaN,strategy='mean')
df[['Levy']]=im_mean.fit_transform(df[['Levy']])
df.head(15)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399.000000,32,1242,2010,4,1,2,3.5,186005,6,0,0,1,0,12,12
1,44731507,16621,1018.000000,8,658,2011,4,0,5,3,192000,6,2,0,1,0,1,8
2,45774419,8467,906.838128,21,684,2006,3,0,5,1.3,200000,4,3,1,1,1,1,2
3,45769185,3607,862.000000,16,661,2011,4,1,2,2.5,168966,4,0,0,1,0,14,0
4,45809263,11726,446.000000,21,684,2014,3,1,5,1.3,91901,4,0,1,1,0,12,4
5,45802912,39493,891.000000,23,1305,2016,4,1,1,2,160931,4,0,1,1,0,14,4
6,45656768,1803,761.000000,58,1154,2010,3,1,2,1.8,258909,4,0,1,1,0,14,12
7,45816158,549,751.000000,23,1334,2013,9,1,5,2.4,216118,4,0,1,1,0,7,12
8,45641395,1098,394.000000,58,435,2014,9,1,2,2.5,398069,4,0,1,1,0,1,12
9,45756839,26657,906.838128,32,1235,2007,4,1,5,3.5,128500,6,0,0,1,0,12,12
10,45621750,941,1053.000000,36,601,2014,9,1,1,3.5,184467,6,0,2,1,0,14,12
11,45814819,8781,906.838128,16,1421,1999,6,0,0,4,0,8,1,2,0,0,2,0
12,45815568,3000,906.838128,42,1457,1997,2,0,0,1.6,350000,4,1,1,1,0,14,4
13,45661288,1019,1055.000000,32,1242,2013,4,1,2,3.5,138038,6,0,1,1,0,14,12
14,45732604,59464,891.000000,23,1305,2016,4,1,1,2,76000,4,0,1,1,0,14,4

In [62]:
x=df.iloc[:,2:].values
y=df.iloc[:,1:2].values
print(x);
print(y);

[[1399.0 32 1242 ... 0 12 12]
 [1018.0 8 658 ... 0 1 8]
 [906.8381278879118 21 684 ... 1 1 2]
 ...
 [836.0 23 1442 ... 0 7 4]
 [1288.0 8 456 ... 0 1 4]
 [753.0 23 1334 ... 0 14 12]]
[[13328]
 [16621]
 [ 8467]
 ...
 [26108]
 [ 5331]
 [  470]]

In [1]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
y=sc.fit_transform(y)

NameError: name 'x' is not defined

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)
#print(y_train)

In [69]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [72]:
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)

y_pred = np.where(y_pred >= 0.5, 1, 0)

print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 0.   -0.1 ]
 [ 0.   -0.06]
 [ 0.   -0.1 ]
 ...
 [ 0.   -0.02]
 [ 0.   -0.02]
 [ 0.   -0.01]]